@page
@model RealmNetCoreSample.Pages.Admin.Announcement.CreateModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Announcement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Announcement.Title" class="control-label"></label>
                <input asp-for="Announcement.Title" class="form-control" />
                <span asp-validation-for="Announcement.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Announcement.Body" class="control-label"></label>
                <input asp-for="Announcement.Body" class="form-control" />
                <span asp-validation-for="Announcement.Body" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="Announcement.CreatedAt" class="control-label"></label>
                <input asp-for="Announcement.CreatedAt" class="form-control" />
                <span asp-validation-for="Announcement.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Announcement.ModifiedAt" class="control-label"></label>
                <input asp-for="Announcement.ModifiedAt" class="form-control" />
                <span asp-validation-for="Announcement.ModifiedAt" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

</body>
</html>
